GOOGLE_API_KEY_1=YOUR_GOOGLE_API_KEY
GOOGLE_API_KEY_2=YOUR_GOOGLE_API_KEY
GOOGLE_API_KEY_3=YOUR_GOOGLE_API_KEY
GOOGLE_API_KEY_4=YOUR_GOOGLE_API_KEY
DB_HOST=localhost
DB_PORT=5532
DB_NAME=ai
DB_USER=ai
DB_PASSWORD=ai
DB_TABLE=pdf_knowledge

PDF_DIR=data/pdfs
